# Neovim Plugins (installed by vim-plug)
config/nvim/plugged

# tmux plugins (except tpm)
tmux/plugins/*
!tmux/plugins/tpm

# qutebrowser
config/qutebrowser/qsettings/QtProject.conf

# ranger
config/ranger/bookmarks
config/ranger/history
config/ranger/tagged
Brewfile.lock.json
